:root {
    /* Primary*/

--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

/* Neutral */

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

*,
*::after, 
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body{
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 437px;
    background-color: #E0E8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

.container {
    max-width: 450px;   
    background-color: #fff; 
    border-radius: 20px;
    overflow: hidden;
}
.picture {
    background-image: url("./images/illustration-hero.svg");
    background-size: 100%;
    height: 220px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
}
.card-text {
    text-align: center;    
}

h1 {
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 17px;
    margin-top: 45px;
    line-height: 37px; 
    color: #1F2E55;   
}

p {
    font-size: 16px;
    font-weight: 500;
}

.card-text p {
    line-height: 26px;
    color: #717FA6;
    margin-bottom: 20px;
}

.card-annual-plan {
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98px;
    background-color: #F7F9FF;
    border-radius: 11px;
    margin-bottom: 32px;
}

.card-annual-plan img {
    margin-right: 20px;    
}
.card-annual-plan .plan-sum {
    margin-right: 94px;
    display: flex;
    flex-direction: column;
    gap: 6px;
} 

strong {
    color: #1F2E55;
}

.plan-sum p {
    color: #717FA6;
}

.light {
    color: #382AE1;
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
}

.light:hover {
    color: #766CF1; 
    text-decoration: none;
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;    
}

.proceed {
    width: 100%;
    height: 50px;
    background-color: #382AE1;
    border: none;
    border-radius: 11px;
    color: #fff;
    margin-bottom: 32px;
}

.proceed:hover {
    background-color: #766CF1;
}

.cancel {
    color: #717FA6;
    background:none;
    border: none;
    margin-bottom: 51px;
    font-weight: 900;
    font-size: 15px;
}

.cancel:hover {
    color: #1F2E55 ;
}

@media screen and (max-width: 500px) {

    .picture {        
        background-size: 100%;
        height: 160px;
    }
    
    .container {
        width: 327px;
    }

    .card-annual-plan .plan-sum {
        margin-right: 50px;
    }

    .card-content {
        padding: 0 24px;
    }

    body{
        background-image: url("./images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100% 194px;
    }
} 